<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>GENERO: <%= movie.genre?.name || 'SIN ESPECIFICAR' %> </p>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date %> </p>
    <p>ACTORES:</p>
    <ul>
        <% movie.actors.forEach(actor => { %>
         <li>
            <%= actor.first_name %> <%= actor.last_name %>
         </li>
        <% }) %>
    </ul>
    <a href="/movies/edit/<%= movie.id %>">Editar Película</a>
    <br><br>
    <a  class="botonVolver" href="/movies">Listado de Películas</a></p>

</body>
</html>